/* datepicker */
.picker__input[readonly],
.picker__input:hover {
    background: #fff;
    cursor: text;
}

.label {
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.home-page {
    margin-top: 40px;
}

.event-page {
    margin-top: 80px;
}

.bg {
    background: url('../images/home-background.jpg') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 200px; /*same height as jumbotron */
    top: 50px; /*50px*/
    left:0;
    z-index: -1;
}

.jumbotron {
    height: 200px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    background:transparent;
    bottom: 0;
    top: 0;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.0);
    margin: 0px 70px;
    padding: 0px;
}

.event-title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 30px;
}

.event-panel {
    border-radius: 0px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.label {
    font-size: 80%;
}

.panel-label-column{
    padding: 0px 0px 5px 0px;
    margin: 0px;
}

.thumbnail .caption {
    padding: 5px;
    color: #333;
}

.ui.segment {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 0px;
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0;
    border: none;
}

.btn-trash {
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1.0;
    border-radius: 2px;
    margin: 2px 0;
}

.btn-sv-user {
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.0;
    border-radius: 2px;
}

.available {
    color: #8CC152;
}

.available-unchecked {
    color: #d7e9c2;
}

.maybe {
    color: #FFCE54;
}

.maybe-unchecked {
    color: #FFCE54;
}

.unavailable {
    color: #DA4453;
}

table thead tr th .clear-left-row-header {
    border-top: 1px solid #fff;
    border-left : 1px solid #fff;
}

.unavailable-unchecked {
    color: #DA4453;
}
.fa-usr {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-white {
    background-color: #FFFFFF;
    border-color: #c4c4c4; }
.navbar-white .navbar-brand, .navbar-white .navbar-link, .navbar-white .btn-link {
    color: #4d5152; }
.navbar-white .navbar-brand:hover, .navbar-white .navbar-brand:focus, .navbar-white .navbar-link:hover, .navbar-white .btn-link:hover, .navbar-white .btn-link:focus {
    color: #4d5152;
    background-color: transparent; }
.navbar-white .navbar-text, .navbar-white .navbar-nav > li > a {
    color: #4d5152; }
.navbar-white .navbar-nav > li > a:hover, .navbar-white .navbar-nav > li > a:focus {
    color: #FFF; }
.navbar-white .navbar-nav > .active > a, .navbar-white .navbar-nav > .active > a:hover, .navbar-white .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #080909; }
.navbar-white .btn-link[disabled]:hover, fieldset[disabled] .navbar-white .btn-link:hover, .navbar-white .btn-link[disabled]:focus, fieldset[disabled] .navbar-white .btn-link:focus, .navbar-white .navbar-nav > .disabled > a, .navbar-white .navbar-nav > .disabled > a:hover, .navbar-white .navbar-nav > .disabled > a:focus {
    color: #080909;
    background-color: transparent; }
.navbar-white .navbar-toggle {
    border-color: #080909;
    background-color: #26816a; }
.navbar-white .navbar-toggle:hover, .navbar-white .navbar-toggle:focus {
    border-color: #2b957a;
    background-color: #2b957a; }
.navbar-white .navbar-toggle .icon-bar {
    background-color: #37BC9B; }
.navbar-white .navbar-collapse, .navbar-white .navbar-form {
    border-color: #48CFAD; }
.navbar-white .navbar-nav > .open > a, .navbar-white .navbar-nav > .open > a:hover, .navbar-white .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #37BC9B; }
@media (max-width: 767px) {
    .navbar-white .navbar-nav > li > a:hover, .navbar-white .navbar-nav > li > a:focus {
        background-color: #48CFAD; }
    .navbar-white .navbar-nav .open .dropdown-menu > .divider {
        background-color: #48CFAD; }
    .navbar-white .navbar-nav .open .dropdown-menu > li > a {
        color: #26816a; }
    .navbar-white .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-white .navbar-nav .open .dropdown-menu > .active > a, .navbar-white .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #FFF;
        background-color: #48CFAD; }
    .navbar-white .navbar-nav .open .dropdown-menu > .dropdown-header {
        color: #26816a; }
    .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #2b957a; } }

/* Right Ribbon */

.ui[class*="right ribbon"].label {
    text-align: left;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    border-radius: 0.2857rem 0em 0em 0.2857rem;
    padding-left: 0.8em;
}

.ui[class*="right ribbon"].label:after {
    left: auto;
    right: 0%;
    border-style: solid;
    border-width: 1.2em 1.2em 0em 0em;
    border-color: transparent;
    border-top-color: inherit;
}

/* Positioning */

.ui.ribbon.label {
    left: -webkit-calc( -1rem  -  1.2em );
    left: calc( -1rem  -  1.2em );
    margin-right: -1.2em;
    padding-left: -webkit-calc( 1rem  +  1.2em );
    padding-left: calc( 1rem  +  1.2em );
}

.ui[class*="right ribbon"].label {
    left: -webkit-calc(100% +  1rem  +  1.2em );
    left: calc(100% +  1rem  +  1.2em );
    padding-right: -webkit-calc( 1rem  +  1.2em );
    padding-right: calc( 1rem  +  1.2em );
}

/* Inside Image */

.ui.image > .ribbon.label,
.ui.card .image > .ribbon.label {
    position: absolute;
    top: 1rem;
}

.ui.card .image > .ui.ribbon.label,
.ui.image > .ui.ribbon.label {
    left: -webkit-calc( 0.05rem  -  1.2em );
    left: calc( 0.05rem  -  1.2em );
    padding-left: -webkit-calc( -0.05rem  +  1.2em );
    padding-left: calc( -0.05rem  +  1.2em );
}

.ui.card .image > .ui[class*="right ribbon"].label,
.ui.image > .ui[class*="right ribbon"].label {
    left: -webkit-calc(100% +  -0.05rem  +  1.2em );
    left: calc(100% +  -0.05rem  +  1.2em );
    padding-left: 0.8em;
    padding-right: -webkit-calc( -0.05rem  +  1.2em );
    padding-right: calc( -0.05rem  +  1.2em );
}

/* -------------- */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }
