.usrDataSave {
    display: none;
}

.usrDataDelete {
    display: none;
}

.hideBorder {
    border: 0px solid  #ffffff;
    background-color: #ffffff;
}

.lightgrey {
    color: #d3d3d3;
}

/*Custom Radio Buttons and Checkboxes using Font Awesome*/
/*.circle-checked-radio {*/
    /*margin-left: -10px;*/
    /*padding-top: 5px;*/
    /*font-size: 1.5em;*/
/*}*/

/*.circle-checked-radio {*/
    /*margin-left: -10px;*/
    /*padding-top: 5px;*/
    /*font-size: 1.5em;*/
/*}*/

/*.circle-checked-radio input[type=radio] {*/
    /*visibility: hidden;*/
    /*position: absolute !important;*/
    /*top: -9999px !important;*/
    /*left: -9999px !important;*/
/*}*/
/*.circle-checked-radio label {*/
    /*display: inline-block;*/
    /*font-family: FontAwesome;*/
    /*margin-left: 10px;*/
/*}*/
/*.circle-checked-radio label:before {*/
    /*color: #d7e9c2;*/
    /*color: #c9c9c9;*/
    /*content: "\f058";*/
/*}*/
/*.circle-checked-radio input[type=radio]:checked ~ label:before {*/
    /*color: #8CC152;*/
    /*content: "\f058";*/
/*}*/
/* ---------------- */
/*.circle-minus-radio {*/
    /*margin-left: -10px;*/
    /*padding-top: 5px;*/
    /*font-size: 1.5em;*/
/*}*/
/*.circle-minus-radio input[type=radio] {*/
    /*visibility: hidden;*/
    /*position: absolute !important;*/
    /*top: -9999px !important;*/
    /*left: -9999px !important;*/
/*}*/
/*.circle-minus-radio label {*/
    /*display: inline-block;*/
    /*font-family: FontAwesome;*/
    /*margin-left: 10px;*/
/*}*/
/*.circle-minus-radio label:before {*/
    /*color: #ffe4a2;*/
    /*color: #c9c9c9;*/
    /*content: "\f056";*/
/*}*/
/*.circle-minus-radio input[type=radio]:checked ~ label:before {*/
    /*color: #FFCE54;*/
    /*content: "\f056";*/
/*}*/
/* ------------------- */
/*.circle-x-radio {*/
    /*margin-left: -10px;*/
    /*padding-top: 5px;*/
    /*font-size: 1.5em;*/
/*}*/
/*.circle-x-radio input[type=radio] {*/
    /*visibility: hidden;*/
    /*position: absolute !important;*/
    /*top: -9999px !important;*/
    /*left: -9999px !important;*/
/*}*/
/*.circle-x-radio label {*/
    /*display: inline-block;*/
    /*font-family: FontAwesome;*/
    /*margin-left: 10px;*/
/*}*/
/*.circle-x-radio label:before {*/
    /*color: #ea969e;*/
    /*color: #c9c9c9;*/
    /*content: "\f057";*/
/*}*/
/*.circle-x-radio input[type=radio]:checked ~ label:before {*/
    /*color: #DA4453;*/
    /*content: "\f057";*/
/*}*/

/* ----------   */
/*.checkbox-custom, .radio-custom {*/
    /*opacity: 0;*/
    /*position: absolute;*/
/*}*/

/*.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*margin: 5px;*/
    /*cursor: pointer;*/
/*}*/

/*.checkbox-custom-label, .radio-custom-label {*/
    /*position: relative;*/
/*}*/

/*.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {*/
    /*content: '';*/
    /*background: #fff;*/
    /*border: 2px solid #ddd;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*padding: 2px;*/
    /*margin-right: 10px;*/
    /*text-align: center;*/
/*}*/

/*.checkbox-custom:checked + .checkbox-custom-label:before {*/
    /*content: "\f00c";*/
    /*font-family: 'FontAwesome';*/
    /*background: rebeccapurple;*/
    /*color: #fff;*/
/*}*/

/* ----- */

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

input[type=radio].circle-x-radio,
input[type=checkbox].circle-x-radio {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].circle-x-radio ~ label:before,
input[type=checkbox].circle-x-radio ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f057";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #c0c0c0;
    width: 1.4em;
}

input[type=radio].circle-x-radio:checked ~ label:before,
input[type=checkbox].circle-x-radio:checked ~ label:before  {
    content: "\f057";
    font-size: 1.2em;
    color: darkred;
    letter-spacing: 5px;
}
input[type=checkbox].circle-x-radio ~ label:before {
    content: "\f057";
}
input[type=checkbox].circle-x-radio:checked ~ label:before {
    content: "\f057";
    color: darkred;
}
input[type=radio].circle-x-radio:focus ~ label:before,
input[type=checkbox].circle-x-radio:focus ~ label:before,
input[type=radio].circle-x-radio:focus ~ label,
input[type=checkbox].circle-x-radio:focus ~ label
{
    color: darkred;
}

/* ================= */

input[type=radio].circle-checked-radio,
input[type=checkbox].circle-checked-radio {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].circle-checked-radio ~ label:before,
input[type=checkbox].circle-checked-radio ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f058";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #c0c0c0;
    width: 1.4em;
}

input[type=radio].circle-checked-radio:checked ~ label:before,
input[type=checkbox].circle-checked-radio:checked ~ label:before  {
    content: "\f058";
    font-size: 1.2em;
    color: #8CC152;
    letter-spacing: 5px;
}
input[type=checkbox].circle-checked-radio ~ label:before {
    content: "\f058";
}
input[type=checkbox].circle-checked-radio:checked ~ label:before {
    content: "\f058";
    color: #8CC152;
}
input[type=radio].circle-checked-radio:focus ~ label:before,
input[type=checkbox].circle-checked-radio:focus ~ label:before,
input[type=radio].circle-checked-radio:focus ~ label,
input[type=checkbox].circle-checked-radio:focus ~ label
{
    color: #8CC152;
}


/* =========== */

input[type=radio].circle-minus-radio,
input[type=checkbox].circle-minus-radio {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].circle-minus-radio ~ label:before,
input[type=checkbox].circle-minus-radio ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f056";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #c0c0c0;
    width: 1.4em;
}

input[type=radio].circle-minus-radio:checked ~ label:before,
input[type=checkbox].circle-minus-radio:checked ~ label:before  {
    content: "\f056";
    font-size: 1.2em;
    color: #FFCE54;
    letter-spacing: 5px;
}
input[type=checkbox].circle-minus-radio ~ label:before {
    content: "\f056";
}
input[type=checkbox].circle-minus-radio:checked ~ label:before {
    content: "\f056";
    color: #FFCE54;
}
input[type=radio].circle-minus-radio:focus ~ label:before,
input[type=checkbox].circle-minus-radio:focus ~ label:before,
input[type=radio].circle-minus-radio:focus ~ label,
input[type=checkbox].circle-minus-radio:focus ~ label
{
    color: #FFCE54;
}